USE [master]
GO
/****** Object:  Database [vehiculos]    Script Date: 22/11/2020 22:03:09 ******/
CREATE DATABASE [vehiculos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vehiculos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\vehiculos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vehiculos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\vehiculos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vehiculos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vehiculos]
GO
/****** Object:  Table [dbo].[vehiculos]    Script Date: 22/11/2020 22:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[precio] [float] NOT NULL,
	[patente] [varchar](50) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_vehiculos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[vehiculos] ON 

INSERT [dbo].[vehiculos] ([id], [marca], [precio], [patente], [tipo]) VALUES (1, N'BMW', 635425.88, N'AB928OZ', N'Suv')
INSERT [dbo].[vehiculos] ([id], [marca], [precio], [patente], [tipo]) VALUES (2, N'Fiat', 963258.44, N'AC820MF', N'Auto')
INSERT [dbo].[vehiculos] ([id], [marca], [precio], [patente], [tipo]) VALUES (3, N'Kawasaki', 789654.25, N'AF827AF', N'Moto')
SET IDENTITY_INSERT [dbo].[vehiculos] OFF
GO
USE [master]
GO
